# Virtual environment
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log

# Static files
staticfiles/

# Media uploads (optional)
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db