section>img{
    width: 10%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
section>p{
    color: orange;
    margin: 0 auto;
    line-height: 25px;
    width: 100%;
    max-width: 650px;
    text-align: center;
}
section>h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}
section>#suc-info{
    margin: 10px;
    background-color: rgba(240, 248, 255, 0.11);
    border: 1px solid silver;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
section>div>p{
    margin-top: 5px;
}
section>#suc-btn>a{
    text-decoration: none;
    background-color: red;
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
section>#suc-btn{
    margin-top: 30px;
}